@{
    ViewData["Title"] = "Quản Lý Suất Chiếu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Showtime.css" />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb" id="breadcrumb"></ol>
</nav>

<div class="card"><div id="content-area"></div></div>

@await Html.PartialAsync("_ShowtimeModal")
@await Html.PartialAsync("_ShowtimePriceModal")

@section Scripts {
    <script src="~/js/Showtime.js"></script>
}