@{
    ViewData["Title"] = "Liên hệ CINEGO Cinema";
}

<link rel="stylesheet" href="~/css/contact.css" />

<div class="contact-header">
    <h1>
        LIÊN HỆ QUẢNG CÁO TẠI RẠP / MUA VÉ NHÓM /<br>
        THUÊ RẠP TỔ CHỨC SỰ KIỆN / MUA PHIẾU QUÀ TẶNG
    </h1>
</div>

<div class="contact-container">
    <div class="contact-left">
        <img src="/images/contact-poster.jpg" alt="Poster Liên hệ" />
    </div>

    <div class="contact-right">
        <p>Bạn có nhu cầu quảng cáo trên <b>màn hình cực lớn</b> tại rạp, tiếp cận đông đảo khách xem phim.</p>
        <p>Bạn cần tăng cường <b>nhận diện thương hiệu</b>, tạo ra <b>doanh thu và lợi nhuận</b> cho công ty.</p>
        <p>Bạn muốn thưởng thức các bộ phim bom tấn <b>riêng tư cùng gia đình, bạn bè, đồng nghiệp</b>.</p>
        <p>Bạn cần một <b>địa điểm tổ chức sự kiện</b>, họp báo ra mắt dự án, fan offline, hoặc đào tạo tập trung.</p>
        <p>Bạn đang tìm kiếm <b>quà tặng</b> gửi tới người thân yêu.</p>

        <p class="contact-note">Hãy liên hệ với <b>CINEGO Cinema</b> ngay hôm nay để được hỗ trợ:</p>
        <p class="contact-info">
            Email: <a href="mailto:ads.cinegocinema@gmail.com">ads.cinegocinema@gmail.com</a> <br>
            Hotline: <b>(028) 3337 9996</b>
        </p>
    </div>
</div>
